* {
    color: rgba(0, 0, 0, 0.54);
}

.item-content:last-child p {
    margin-bottom: 0;
}

.payment-details-container {
    display        : flex;
    justify-content: space-between;
    border         : 1px solid #e3e3e3;
    border-radius  : 4px;
    padding        : 20px;

}

.item-header p {
    font-weight   : 600;
    color         : #333;
    letter-spacing: 0.7px;
}

.item-content {
    display        : flex;
    justify-content: space-between;
}

.item-header {
    margin-bottom: 30px;
}

.item-title {
    color       : #333;
    font-weight : 500;
    margin-right: 10px;
}