<div class="container" style="margin-top: 50px;">
    <section>
        <div class="example-button-row">
            <a mat-raised-button color="primary" style="margin-right: 10px;"
                routerLink="/rxjs/observable">Observable</a>
            <a mat-raised-button color="primary" style="margin-right: 10px;" routerLink="/rxjs/customobservable">Custom
                Observable</a>
        </div>
    </section>
</div>
<div class="container" style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>