<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angluar14 CRUD with Material</span>
  <span class="example-spacer"></span>

  <a mat-flat-button routerLink="/tuts" style="margin-right: 10px;" color="warn">Tuts</a>
  <a mat-flat-button routerLink="/crud" style="margin-right: 10px;" color="warn">Products</a>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Products</button>
</mat-toolbar>
<router-outlet></router-outlet>